.button-logout {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #dcdcdc);
    -fx-background-radius: 5;
    -fx-background-insets: 0, 5, 10;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 5);
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
.button-logout:pressed {
    -fx-background-color: linear-gradient(to bottom, #dcdcdc, #ffffff);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0, 0, 1);
    -fx-translate-y: 1;
}

.label {
    -fx-border-color: transparent transparent black transparent;
    -fx-border-width: 0 0 2px 0;
}




